*{
    margin: 0%;
    padding: 0%;  
}
.bg{
    background-color: beige;
}
.mimgs{
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
    margin-right: 3%;  
}
#foodmaven{
margin-left: 60%;
}
.text{
    font-size:25px
}
.mimgstext{
margin-left: 50px;
    display: flex;
    justify-content: space-between;
margin-right: 2%;
    text-align:justify;
    margin-bottom: 2%;
}
h3{
    color: black;
}
h4{
    color: rgba(0, 0, 0, 0.699);
}

.mimgs1{
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    margin-right: 3%; 
}
.mimgs1text1{
    margin-bottom: 2%;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    text-align:justify;
   
}
.mimgs2{
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    margin-right: 3%; 
}
.mimgs2text2{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    text-align:justify;
}