.home
{
  color:white;
  background-color: rgb(18, 152, 18);
  width:150px;
  height:36px;
  cursor:pointer;
  border: none;
  border-radius: 15px;
  
}
#success{
    height: 100%;
    padding-top: 8%;
}
#eye1{
  position: absolute;
  margin-top: 33%;
  margin-left: 21.5%;
}
